<a href="{% url 'blogango_index' %}">
		<div class="header_cinema" style="background-image: url('https://acm-carpets.s3.amazonaws.com/images/slider/slide1.jpg');">
			<div class="cover">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-10">
							<div class="title">
								<p data-uk-scrollspy="{cls:'uk-animation-slide-top', repeat: true, delay:500}">
									Blog
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<section class="bredcm_area">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ol class="breadcrumb category_breadcrumb">
						<li>
							<a href="/">All</a>
						</li>
						<li>
							<a {% if not entry.title and not search %}class="choosed"{%endif%} href="{% url 'blogango_index' %}">Blog</a>
						</li>
						{% if search %}
							<li>
								<a class="choosed">Search: "{{search}}"</a>
							</li>
						{% endif %}
						{% if entry.title %}
							<li>
								<a class="choosed">{{ entry.title }}</a>
							</li>
						{% endif %}
					</ol>
				</div>
			</div>
		</div>
	</section>
</a>
