{% extends 'blogango/base.html' %}
{% block left %}
	<div class="blog_post_list">
		{% for entry in entries %}
				{% include 'blogango/entry/listed.html' %}
		{% empty %}
			<div class="leftblock">
					<h1>No posts in blog</h1>
					<div class="postcontent">
						<p>
							<br/>You don't have any entries in your blog,
							Create a blog entry at '/admin/blogango/blogentry/add/'.
						</p>
					</div>
			</div>
	{% endfor %}
	</div>
	{% if page_obj.has_next or page_obj.has_previous %}
		<div class="pagination">
			{% if page_obj.has_previous %}
				<a href="?page=1">«</a>
				<a href="?page={{ page_obj.previous_page_number }}">‹</a>
			{% else %}
				<a class="disabled">«</a>
				<a class="disabled">‹</a>
			{% endif %}
			{% for page in paginator.page_range %}
			{% if page == page_obj.number %}
				<a class='selected'>{{ page }}</a>
			{% else %}
				<a href='?page={{ page }}'>{{ page }}</a>
			{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">›</a>
				<a href="?page={{ page_obj.paginator.num_pages }}">»</a>
			{% else %}
				<a class="disabled">›</a>
				<a class="disabled">»</a>
			{% endif %}
		</div>
	{% endif %}
{% endblock %}
