{% extends 'blogango/base.html' %}
{% block head_meta %}
<meta name="keywords" content="{{ entry.meta_keywords }}">
<meta name="description" content="{{ entry.meta_description }}">
{% endblock %}
{% block head_title %}{{entry.title}} - {{block.super}}{% endblock%}
{% block content %}
<div class="container main_content">
	<div class="row">
		<div class="col-md-9 blog-post">
			{% block left %}
				{% include 'blogango/entry/single.html' %}
			{% endblock %}
		</div>
		<div class="col-md-3 blog-sidebar">
			{% include 'blogango/sidebar/index.html' %}
		</div>
	</div>
</div>
{% endblock %}
