{% load blogango_filters %}
{% load thumbnail %}
<div class="row blog_entry">
	<div class="col-sm-12 col-md-5">
		{% thumbnail entry.image "403x212" crop="center" as im %}
			<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
		{% empty %}
			<img src="http://placehold.it/403x212">
		{% endthumbnail %}
	</div>
	<div class="col-sm-12 col-md-7">
		<div class="comment_block ">
			<a href="{{ entry.get_absolute_url }}" class='noline'><h1 class="post_title">{{ entry.title }}</h1></a>
			<p class="details-blog">
				by {{ entry.created_by }} | {{ entry.created_on|date:'N j, Y' }} | {{ entry.get_num_comments }} <i class="fa fa-comment" aria-hidden="true"></i>
			</p>
			<div class="comment_block-content">
				{% if post_detail %}
					<p>{{ post_detail | truncatewords_html:20|safe  }}</p>
				{% else %}
					<p>{{ entry.text | truncatewords_html:20|safe }} </p>
				{% endif %}
			</div>
			<div>
			<a href="{{ entry.get_absolute_url }}">
				<button class="btn btn-default btn-lg dropdown-toggle" type="button">Read more</button>
			</a>
			</div>
		</div>
	</div>
</div>
