{% load thumbnail %}
<div class="recent-post">
	<div class="recent-post-image">
		<a href="{{entry.get_absolute_url }}">
		{% thumbnail entry.image "53x53" crop="center" as im %}
			<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
		{% empty %}
			<img src="http://placehold.it/53x53">
		{% endthumbnail %}
		</a>
	</div>
	<div class="recent-post-details">
		<a href="{{ entry.get_absolute_url  }}">{{ entry.title }}</a>
		<p>{{ entry.created_on|date:'N j, Y' }}</p>
	</div>
</div>
