{% load blogango_filters %}
{% load thumbnail %}
{% load staticfiles %}
{% load gravatar %}

<div class="blog_single_post">
	<a href="{{ entry.get_absolute_url }}" class='noline'><h1 class="post_title">{{ entry.title }}</h1></a>
	<p class="details-blog">by {{ entry.created_by }} | {{ entry.created_on|date:'N j, Y' }} | {{ entry.get_num_comments }} <i class="fa fa-comment" aria-hidden="true"></i>
	<div class="blog_single_post_image">
		{% thumbnail entry.image "1000" crop="center" as im %}
			<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="blog_single_image">
		{% empty %}
			<img src="http://placehold.it/1000x500" class="blog_single_image">
		{% endthumbnail %}
	</div>

	{% if post_detail %}
		<p>{{ entry.text|safe }}</p>
	{% else %}
		<p>{{ entry.text|safe }} </p>
	{% endif %}
</div>
<div class="blog_post_navigate">
	{% if entry.prev_post %}
	<a href="{{entry.prev_post.get_absolute_url }}"><button class="blog_previous_post btn btn-default">Previous</button></a>
	{% endif %}
	{% if entry.next_post %}
	<a href="{{entry.next_post.get_absolute_url}}"><button class="blog_next_post btn btn-default">Next</button></a>
	{% endif %}
</div>
<p>{{ entry.get_num_comments }}  comments</p>
{% if comments %}
	{% for comment in comments %}
		<div class="row blog_comment">
			<div class="col-md-2">
				<img src="{% gravatar_url comment.email_id %}" width="120" height="120" alt="commmenttor" class="blog_comment_img" />
			</div>
<!--
			{% if comment.user_url %}
				<a href='{{ comment.user_url }}' rel='nofollow' target='_blank' class="blog_comment_url">{{ comment.user_name }}</a>
			{% else %}
				{{ comment.user_name }}
			{% endif %}
 -->
			<div class="col-md-10">
				{{ comment.text|striptags|urlize|linebreaks }}
			</div>
		</div>
	{% endfor %}
{% endif %}


{% related_posts entry as related_posts %}
{% if related_posts %}
	<div class="blog_related">
		<p>related post</p>
	</div>
	<div class="row blog_related_post">
		{% for post in related_posts %}
			<div class="col-md-3">
				{% thumbnail post.image "195x142" crop="center" as im %}
					<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				{% empty %}
					<img src="http://placehold.it/195x142">
				{% endthumbnail %}
				<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
				<p>{{ post.created_on|date:'N j, Y' }}</p>
			</div>
		{% endfor %}
	</div>
{% endif %}

<h2 style="clear:both;">leave a reply</h2>
<p>Your email address will not be published. Required fields are marked *</p>
<div class="blog_post_comment">
	{% if entry.comments_allowed %}
		<form action="." method="post">
			{% csrf_token %}
			<fieldset>
				{{comment_form.text.errors}} {{comment_form.text}}
				{{comment_form.name.errors}} {{comment_form.name}}
				{{comment_form.email.errors}} {{comment_form.email}}
				{{comment_form.url.errors}} {{comment_form.url}}
				<br/>
				{{comment_form.captcha.errors}} {{ comment_form.captcha }}
				<br/>
				<input name="button" type="submit"  id="button" value="POST COMMENT"  class="but_right"/>
			</fieldset>
		</form>
	{% else %}
		<div class="message">Comments are disabled.</div>
	{% endif %}
</div>

<script type="text/javascript">
	document.getElementById("id_text").placeholder = "COMMENT";
	document.getElementById("id_name").placeholder = "NAME *";
	document.getElementById("id_email").placeholder = "EMAIL *";
	document.getElementById("id_url").placeholder = "WEBSITE";
</script>
