<form  action="{% url 'blogango_index' %}" class="input-group input-group-lg">
	<span class="input-group-addon" id="search-blog"><i class="fa fa-search" aria-hidden="true"></i></span>
	<input type="text" name="search" {% if search %}value="{{search}}"{%endif%} class="form-control" placeholder="Search" aria-describedby="search-blog">
</form>

<!-- Recent post -->
<div class="sidebar-head">
	<p>recent posts</p>
</div>
<div class="sidebar-content">
	{% for entry in recent %}
		{% include 'blogango/entry/recent.html' %}
	{% endfor %}
</div>

{% if featured %}
	<!-- Featured post -->
	<div class="sidebar-head">
		<p>featured posts</p>
	</div>
	<div class="sidebar-content">
		{% for entry in featured %}
			{% include 'blogango/entry/recent.html' %}
		{% endfor %}
	</div>
{% endif %}

{% if links %}
	<div class="sidebar-head">
		<p>follow us</p>
	</div>
	<div class="sidebar-content">
		<div class="follow-us">
			{% for link in links %}
				<a href="{{link.url}}" target='_blank' title="{{text}}">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x" style="color:{{link.color}}"></i>
						<i class="fa fa-{{link.icon}} fa-stack-1x fa-inverse"></i>
					</span>
					{{link.text}}
				</a>
			{% endfor %}
		</div>
	</div>
{% endif %}
