/* Multiple elements with #db7240 background color */
.sidebar-head,
.pagination a.selected,
.blog_related{
	background-color: #cd768f;
}
/* Multiple elements with #db7240 color */
h1.post_title{
	color: #cd768f;
}
/* Blog section with content */

.blog_entry{
	margin: 1em 0;
	padding: 2em 0;
	border-bottom: 1px solid #c4c4c4;
}
.blog_entry img{
	max-width: 100%;
}
.blog_entry:first-child{
	padding-top: 0px;
}
.blog_entry:last-child{
	border-bottom: 0px;
	padding-bottom: 0px;
}
h1.post_title{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.comment_block p{
	margin-top: 0px;
	font-size: 14px;
	color: #292929;
}
.comment_block button{
	color: #fff;
	background-color: #bbbfc3;
	text-transform: uppercase;
}

/* Blog sidebar section */
.blog-sidebar{
	margin: 3em 0;
}
.sidebar-head{
	border-radius: 5px 5px 0px 0px;
	padding: 10px;
	margin-top: 2em;
	margin-bottom: -
}
.sidebar-head p{
	color: #f6f6f6;
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px;
}
.sidebar-content{
	background-color: #f3f3f3;
	padding: 0 1em;
}
.follow-us a{
	text-transform: uppercase;
	color: #463a2c;
	display: block;
	padding: 10px;
	border-bottom: 1px solid #c4c4c4;
}
.follow-us a:last-child{
	border-bottom: 0px;
}

.blog-post h2{text-transform: uppercase;}

/* Recent post & Featured post*/
.recent-post{
	margin: 0.5em 0;
	border-bottom: 1px solid #c4c4c4;
	padding: 1em 0;
}
.recent-post:first-child{
	margin-top: 0px;
}
.recent-post:last-child{
	border-bottom: 0px;
}
.recent-post-image{
	margin-right: 1em;
}

@media screen and (min-width: 1240px) {
	.recent-post-details{
		max-width: 170px;
		max-width: calc(100% - 75px);
	}
}

.recent-post-image,
.recent-post-details{
	display: inline-block;
	vertical-align: top;
}
.recent-post-details a{
	font-size: 15px;
	font-weight: 400;
	color: #292929;
}
.recent-post-details p{
	margin: 0px;
	font-size: 13px;
	font-weight: 300;
}

/* Pagination */
.pagination{ float: right; }
.pagination a{
	padding: 10px 15px;
	background-color: #bbbfc3;
	border-radius: 5px;
	color: #fff;
}

.pagination a.disabled{ display: none; }

/* Blog post page */
img.blog_single_image{
	width: 100%;
	height: auto;
}
.blog_single_post{
	background-color: #f3f3f3;
	border-radius: 5px;
	padding: 2em;
	margin: 3em 0 2em;
}
.blog_single_post_image{
	margin: 0 -2em;
}
.blog_post_list{
	background-color: #f3f3f3;
	border-radius: 5px;
	padding: 2em;
	margin: 3em 0;
}
.blog_post_comment { margin-bottom: 5em; }
.blog_post_comment textarea{
	width: 100%;
	height: 100px;
	background-color: #d3d7dc;
	border-radius: 5px;
	border: 0px;
	padding: 10px;
	outline: none;
}
.blog_post_comment input{
	width: 30%;
	background-color: #d3d7dc;
	border-radius: 5px;
	display: inline-block;
	border: 0px;
	padding: 10px;
	outline: none;
}
.blog_post_comment input:nth-child(3){
	margin: 1em 2.5em;
}
.blog_post_comment input[type="submit"]{
	float: right;
	padding: 10px;
	background-color: #ee8222;
	color: #fff;
}

.blog_comment { margin: 1em 0; }
.blog_comment p{ margin: 0px; }

.blog_post_navigate{
	min-height: 2em;
	margin-bottom: 3em;
}
button.blog_previous_post,
button.blog_next_post{
	width: 160px;
	text-transform: uppercase;
	color: white;
	background: #bbbfc3;
	padding: 0.6em;
}
button.blog_previous_post { float: left; }
button.blog_next_post { float: right; }

.blog_related{
	padding: 1em;
	border-radius: 5px 5px 0 0;
}
.blog_related p{
	text-transform: uppercase;
	color: #fff;
	margin: 0 1em;
	font-weight: 600;
	font-size: 19px;
}
.blog_related_post{ margin: 1em 0px 2em; }
.blog_related_post img{
	margin-bottom: 1em;
}
.blog_related_post a{
	font-size: 15px;
	color: #292929;
}
.blog_related_post p{
	font-size: 13px;
	margin: 0;
}

.fa-stack{ margin-right: 0.6em; }
@media screen and (max-width: 1024px){
	.blog_post_comment input{
		width: 45%;
		margin: 1em;
	}
	.blog_post_comment input:nth-child(3){
		margin: 1em;
	}
}
@media screen and (max-width: 768px){
	.blog_post_comment input{
		width: 100%;
		margin: 1em 0 !important;
	}
}
